*.a
*.o
*.s
*.e
version.c
tags
core3
*.elf
*.bin
*.dump
*.syms
*.sym
*.swp
*.OLD
OLD
OLD/*
*.ORIG
ORIG
ORIG/*
arm/OLD
lib/OLD
linux/mm
linux/mm/Makefile
linux/mm/*
linux/include/linux/compiler-gcc_OLD/
z
zz
zzz
zprune
*.out
*.list
board
arch
kyu.lds
Makefile
zzz.tar
